@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background: #aa4b6b;
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    color: aliceblue;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    background-color: black;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #FBD786;
    padding: 20px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #3b8d99;
}


.nav-link {
    text-decoration: none;
    color: #3b8d99
}

.nav-link:hover {
    color: #350537;
    text-shadow: #aa4b6b 0 0 10px;
    font-weight: 800;
    transition: 30ms;
}

.articulos {
    display: block;
    width: 70%;
    height: auto;
    flex-direction: left;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    float: left;
}

article {
    margin-top: 30px;
}

article h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #350537;
    font-weight: 700;
}

.noticias {
    width: 30%;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
    float: left;
}

.noticias-li {

    padding: 15px;
    list-style: none;
    text-transform: uppercase; ;
}
.noticias-links{
    text-decoration: none;
    color: #350537;
    font-weight: 700;
}

.noticias-titulos{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    margin-left: 10px;
}

.noticias-links:hover {
    color: #edd8ee;
    text-shadow: #FBD786 0 0 10px;
    font-weight: 800;
    transition: 30ms;
}

.footer {
    width: 100%;
    height: auto;
    display: block;
background: black;
    justify-content: center;
    align-items: center;
    margin: 20px;
position: absolute;
    text-align: center;
}