html {
    background: #c213db;
    font-family: 'Fira Mono', monospace;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto Mono', monospace;

}

h1 {
    font-size: 100px;
    margin-bottom: 0;
    margin-right: 50px;
}

h2 {
    font-size: 50px;
    margin: 0;
    margin-right: 50px;
}

img {
    margin-left: 20px;
}