@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto Mono', monospace;
}

/*------ Contenedor Global ------*/
.contenedor-global {
    width: 1200px;
    height: auto;
    margin: 10px auto;
    background: #212121;
}

/*------ Header ------*/
.header-contenedor {
    width: 100%;
    display: inline-block;

}

header {
    width: 100%;
    height: 20%;
    margin-top: 20px;
    background-color: black;
    display: inline-block;
}

header a {
    text-decoration: none;
    color: #fff;
}

header li {
    list-style: none;
    display: inline-block;
}


/*------ Navbar  ------*/
nav {
    width: 100%;
    height: 100px;
    display: inline-block;

}

nav .nav-logo-container {
    margin-left: 50px;
    float: left;
}

nav li {
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    float: right;
    text-transform: uppercase;
    margin-top: 30px;
}

nav .nav-link {
    font-size: 20px;
    font-weight: 700;
}

nav .nav-link:hover {
    color: #ec7aa0;
    font-size: 24px;
    transition: all 0.9s;
    text-shadow: 0px 0px 15px #47cfac;
}

nav .nav-links-subtitulo {
    display: none;
    font-size: 11px;
    font-weight: 400;
    margin-left: 10px;
}

nav .nav-link:hover>span {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

nav .nav-logo-container {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-top: 15px;
}

nav .nav-logo-link {
    font-size: 30px;
    font-weight: 700;
}



nav .nav-logo-subtitulo {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 90px;
    color: #ec7aa0;
}

nav .nav-logo-link-letra {
    color: #ec7aa0;
}

/*------ Hero ------*/
.hero {
    width: 95%;
    height: 400px;
    display: inline-block;
    margin: 10px 30px 10px 30px;
    background-image: url('./img/hero-backgorund.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}

/*------ Contenedor Global Contenidos ------*/
.contenidos {
    height: 1300px;
    background: #F5F5F5;
}

hr {
    width: 500px;
    margin-left: 20px;
    height: 0;
}

/*------ Contenedor noticias ------*/
.contenidos .noticias {
    width: 68%;
    height: 600px;
    margin: 15px;
    float: left;
}

section .noticias-nfts-info-detalle {
    width: 29%;
    height: 480px;
    margin: 20px 10px 20px 15px;
    padding: 5px;
    background: #fff;
    float: left;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #000;
}


section .noticias-nfts-info-detalle img {
    width: 85%;
    height: 200px;
    padding: 10px;
    margin-left: 5px;
    border: outset;
    border-radius: 30px;
}

section .noticias-nfts-info-detalle p {
    font-size: 17px;
    font-weight: 700;
    margin: 12px 18px;
    color: #2a2a2a;
    text-align: left;
    overflow: hidden;
}

.noticias-nfts-info-detalle:hover>button {
    transition: all 0.9s;
    visibility: visible;
}

.button-detalle:hover {
    background: #ec7aa0;
    transition: all 0.9s;
    cursor: pointer;
}

.button-detalle {
    visibility: hidden;
    width: 100px;
    height: 35px;
    background: #47cfac;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    margin-left: 60px;
}

/*------ Contenedor Tips ------*/

.contenidos .contenidos-tips {
    width: 68%;
    height: 600px;
    margin: 15px;
    float: left;
}

section .tips-nfts-info {
    width: 97%;
    height: 90%;
    margin: 5px;
    margin-top: 10px;
    float: left;

}

.tips-nfts-info-detalle {
    width: 98%;
    height: 200px;
    margin: 10px 0px 40px 0px;
}


.tips-nfts-info-detalle img {
    width: 28%;
    height: 190px;
    float: left;
    padding: 5px;
    border: solid 1px grey;
}

.tips-detalle-texto {
    width: 65%;
    height: 100%;
    margin: 10px;
    float: right;
    font-size: small;
}

.tips-detalle-texto h1 {
    margin: 5px 0px 10px 0px;
}

.tips-detalle-texto a {
    color: #388E3C;
    text-decoration: none;
    float: right;
    font-size: 15px;
    font-weight: 600;
}

.tips-detalle-texto a:hover {
    color: #4CAF50;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.9s;
}

.tips-detalle-texto span {
    color: #388E3C;
    font-size: 15px;
    font-weight: 500;
}

.hr-tips {
    width: 100%;
    height: 1px;
    background: grey;
    margin: 10px 0px;
}

/*------ Contenedor Aside ------*/
.contenidos .aside-nuevos {
    width: 27%;
    height: 900px;
    margin: 15px;
    float: right;
}

section .titulo-aside {
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #2a2a2a;
    text-align: left;
    text-transform: uppercase;
}

.aside-item2 {
    width: 100%;
    float: left;
}

section .aside-item2-img {
    width: 43%;
    height: 5%;
    margin-left: 9px;
    margin-top: 5px;
}

section .aside-item2-img:hover {
    width: 47%;
    height: 8%;
    margin: 1px;
    transition: all 0.9s;

}

section .aside-item1-img {
    width: 90%;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border: solid 1px grey;
}

section .aside-item1-img:hover {
    width: 92%;
    height: 110px;
    transition: all 0.9s;
    cursor: pointer;
    margin: 0;
}

section .hr-aside-nuevos {
    width: 200px;
    margin-left: 25px;
    margin-bottom: 10px;
    height: 0;
}


/* ------ h2 ------ */
.titulos {
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #2a2a2a;
    text-align: left;
    text-transform: uppercase;
}


/*------ Footer ------*/

footer {
    width: 100%;
    height: auto;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
}



footer .footer-info-1 {
    width: 40%;
    margin: 5px;
    float: left;
}

.footer-info-detalle {
    width: 100%;
    height: auto;
}

.footer-info-detalle img {
    width: 100px;
    height: 100px;
    margin: 20px 8px;
    float: left;
}

.footer-info-detalle p {
    margin: 25px;
}

.footer-link{
        color: #FFA000;
    text-decoration: none;
    float: right;
    font-size: 12px;
    font-weight: 600;
    margin-right:20px ;
}

.footer-link:hover {
    color: #FFA000;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.9s;
}

footer .footer-info-2 {
    width: 28%;
    height: 100%;
    margin: 5px;
    float: left;

}

.footer-info-redes-img img {
    width: 75px;
    height: 75px;
    margin: 10px;
    float: left;
}


footer .footer-info-3 {
    width: 28%;
    height: 100%;
    margin: 5px;
    float: left;
}

footer ul li {
    list-style: none;
    margin: 10px;
    font-size: 17px;
    font-weight: 600;
}

.hr-footer {
    width: 90%;
    height: 0px;
    background: grey;
    margin: 10px 0px;
}